/* Shared styles */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
button,
input {
   font-family: "Work Sans", sans-serif;
   font-size: 16px;
}

h1 {
   font-size: 1.5rem;
}

h2 {
   font-size: 1.25rem;
   font-weight: 600;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: black;
}

p {
   line-height: 1.6;
   color: #727272;
}

img {
   width: 100%;
}

.container {
   padding: 1.5rem;
   margin: 0 auto;
   width: 100%;
}

.btn {
   padding: 0.75rem 1.5rem;
   border-radius: 0.25rem;
   border: none;
}

.btn-primary {
   background-color: #ff900e;
   color: white;
}

/* Components Styles */
/* Header section */
.header {
   background-color: #fff4e7;
}

.heading {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1.5rem;
   margin-bottom: 2.25rem;
}

.nav-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
}

.hero-section {
   display: grid;
   justify-items: center;
   align-items: center;
}

.hero-section > h1 {
   width: 15rem;
   height: 3.5rem;
   margin-bottom: 1rem;
}

.hero-section > p {
   margin-bottom: 1.5rem;
}

/* feature-section */
.team-images {
   margin-top: 1.5rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0.75rem;
}

.banner-img {
   width: 100%;
   margin-top: 1.5rem;
   border-radius: 0.5rem;
}

.features-section > h1 {
   margin-top: 3.5rem;
   margin-bottom: 1rem;
}

.features-section > p {
   margin-bottom: 1.5rem;
}

/* feature-love section */
.features-love > p {
   margin-top: 1rem;
   margin-bottom: 1.5rem;
}

.model-container {
   position: relative;
   margin-left: 2rem;
   margin-bottom: 2rem;
}

.experience {
   position: absolute;
   bottom: -2rem;
   left: -2rem;
   color: white;
   background-color: #ff900e;
   border-radius: 8px;
   padding: 1rem 1.5rem;
   text-align: center;
}

/* article-card */
.description {
   padding-top: 2.25rem;
   display: grid;
   gap: 1rem;
}

.article-card {
   border-radius: 8px;
   box-shadow: 0px 2px 12px 0px #0000000f;
   padding: 1.25rem;
}

.article-card > p {
   margin-top: 0.5rem;
}

/* Facts section */
.facts-section > p {
   margin-top: 1rem;
   margin-bottom: 1.5rem;
}

.fact-numbers {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(11.5625rem, 1fr));
   gap: 0.75rem;
}

.fact-card {
   padding: 1rem;
   border-radius: 8px;
   border: 1px solid #ff900e;
   display: grid;
   justify-items: center;
}

.fact-card > h1 {
   font-weight: 600;
   margin-top: 1.25rem;
   margin-bottom: 0.5rem;
}

.fact-card > .icon {
   width: 2.625rem;
   height: 2.625rem;
}
/* Atomic CSS */
.text-center {
   text-align: center;
}

.text-primary {
   color: #ff900e;
}

.text-secondary {
   color: #727272;
}
