/* Shared styles */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
button,
input {
   font-family: "Work Sans", sans-serif;
   font-size: 14px;
}

h1 {
   font-size: 1.5rem;
}

h2 {
   font-size: 1.25rem;
   font-weight: 600;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: black;
}

p {
   line-height: 1.8;
   color: #727272;
}

img {
   width: 100%;
}

.container {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   margin: 0 auto;
   width: 100%;
}

.btn {
   padding: 0.75rem 1.5rem;
   border-radius: 0.25rem;
   border: none;
   transition: all;
   transition-duration: 150ms;
}

.btn:active {
   transform: scale(0.95);
}

.btn-primary {
   background-color: #ff900e;
   color: white;
}

/* Components Styles */
.main-container {
   display: grid;
   margin-top: 3.5rem;
   margin-bottom: 3.5rem;
   gap: 3.5rem;
}

.container > p,
.container > .text-group > p {
   margin-top: 1rem;
   margin-bottom: 1.5rem;
}

/* Header section */
.header {
   padding: 1.5rem 0;
   background-color: #fff4e7;
}

.nav-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1.5rem;
}

.nav-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
}

.hero-section {
   display: grid;
   justify-items: center;
   align-items: center;
   margin-top: 2.25rem;
}

/* feature-section */
.team-images {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0.75rem;
}

.banner-img {
   width: 100%;
   margin-top: 1.5rem;
   border-radius: 0.5rem;
}

.features-section {
   display: grid;
   row-gap: 1.5rem;
   column-gap: 4rem;
}

/* feature-love section */
.features-love {
   display: grid;
   row-gap: 2.25rem;
   column-gap: 4rem;
   grid-template-areas:
      "heading"
      "model"
      "cards";
}

.model-container {
   position: relative;
   margin-left: 2rem;
   margin-bottom: 2rem;
}

.features-love .text-group {
   grid-area: heading;
}

.model-container-outer {
   grid-area: model;
}

.features-love .description {
   grid-area: cards;
}

.experience {
   position: absolute;
   bottom: -2rem;
   left: -2rem;
   color: white;
   background-color: #ff900e;
   border-radius: 8px;
   padding: 1rem 1.5rem;
   text-align: center;
}

/* article-card */
.description {
   display: grid;
   gap: 1rem;
}

.article-card {
   border-radius: 8px;
   box-shadow: 0px 2px 12px 0px #0000000f;
   padding: 1.25rem;
}

.article-card > p {
   margin-top: 0.5rem;
}

/* Facts section */
.fact-numbers {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
   gap: 0.75rem;
}

.fact-card {
   padding: 1rem;
   border-radius: 8px;
   border: 1px solid #ff900e;
   display: grid;
   justify-items: center;
}

.fact-card > h1 {
   font-weight: 600;
   margin-top: 1.25rem;
   margin-bottom: 0.5rem;
}

.fact-card > .icon {
   width: 2.625rem;
   height: 2.625rem;
}

/* Sponsores section */
.sponsores {
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   flex-wrap: wrap;
}

.sponsores > img {
   height: 1.5rem;
   width: auto;
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}

/* footer section */
.footer {
   background-color: #fff4e7;
   padding: 1.5rem 0;
}

.footer-section {
   display: grid;
   gap: 0.5rem;
}

/* Responsive styles (Desktop) */
@media (min-width: 1024px) {
   /* Shared styles */
   body {
      font-size: 16px;
   }

   h1 {
      font-size: 4rem;
   }

   .container {
      max-width: 1024px;
      padding: 0;
   }

   /* Component styles */
   .main-container {
      margin-top: 5.25rem;
      margin-bottom: 5.25rem;
      gap: 5.25rem;
   }

   .container > p,
   .container > .text-group > p {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
   }

   .nav-section {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .nav-container {
      margin-top: 0;
   }

   .nav-menu {
      gap: 3rem;
   }

   .hero-section {
      margin-top: 5.25rem;
   }

   .hero-section > h1 {
      max-width: 38.75rem;
   }

   .banner-img {
      margin-top: 4rem;
   }

   .features-section {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
   }

   .team-images {
      gap: 1.5rem;
      order: 1;
   }

   .features-section > .text-group {
      order: 2;
   }

   .features-love {
      grid-template-columns: 0.85fr 1fr;
      grid-template-areas:
         "heading model"
         "cards model";
   }

   .fact-numbers {
      gap: 1.5rem;
   }

   .fact-card > h1 {
      font-size: 3rem;
   }

   .sponsores {
      gap: 2.5rem;
   }

   .sponsores > img {
      height: 2.5rem;
   }
}

/* Atomic CSS */
.text-center {
   text-align: center;
}

.text-primary {
   color: #ff900e;
}

.text-secondary {
   color: #727272;
}
